@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
:root {
  --primaryColor: #d56e84;
  --secondaryColor: #eaeaea;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: var(--primaryColor);
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.2s linear;
}
#contentMenuMobile > ul li {
  list-style: none;
}
#contentMenuMobile > ul li > a {
  padding-bottom: 0 !important ;
  color: var(--primaryColor);
  font-size: 28px;
  text-shadow: 0px 0px var(--primaryColor);
  font-family: "Dancing Script", cursive;
}
header > ul li > a {
  padding-bottom: 0 !important ;
  color: #fff;
  font-size: 28px;
  text-shadow: 0px 0px var(--primaryColor);
  font-family: "Dancing Script", cursive;
}
header > ul li > a:hover {
  color: #fff;
}
.turnOnHeader {
  box-shadow: 0 1px 5px #ccc;
  height: 60px;
  background-color: #fff;
}
.turnOnHeader a {
  color: var(--primaryColor);
  font-family: "Dancing Script", cursive;
}
.turnOnHeader a:hover {
  color: var(--primaryColor);
  font-family: "Dancing Script", cursive;
}
.underScore {
  border-bottom: 1px solid var(--primaryColor);
}
.footer {
  padding: 30px;
  height: auto;
  box-shadow: -1px -1px 1px;
  background: url("../image/bgfooter.jpg") top center/cover no-repeat;

  color: #3d3d3d;
}
footer div {
  margin-top: 30px;
}
@media screen and (max-width: 740px) {
  footer {
    flex-wrap: wrap;
  }
}
#iconMenuMobile {
  margin: 10px;
  background-color: #eca9b8;
  width: 50px;
  height: 50px;
  z-index: 1;
  border-radius: 10px;
  position: fixed;
  color: #fff;
  display: none;
  z-index: 3;
}
#iconMenuMobile i {
  margin: 10px;
  font-size: 34px;
}
#menuForMobile {
  display: none;
  width: 100%;
  height: 100vh !important;
  background-color: #fadce3e2;
  position: fixed;
  transform: translateX(-1000px);
  z-index: 2;
  transition: 0.3s;
  cursor: pointer;
}
#contentMenuMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.blockMenu {
  transform: translateX(0) !important;
}
.underScoreWhite {
  border-bottom: 1px solid #fff;
}
